@model MVCClient.EmailModel.MailMessage
@{
   ViewBag.Title = "Send";
   Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@if (ViewBag.Mgs != null)
{
   <h4>@ViewBag.Mgs</h4>
}
<hr />
@using (Html.BeginForm())
{
   @Html.AntiForgeryToken()

   <div class="form-horizontal">
      <h4>Enter your email Information</h4>
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <div class="form-group">
         @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
            @Html.TextBox("To", "",  new { @class = "form-control" })
            @*<select asp-for="To" class="form-control" multiple="multiple"></select>*@
            @*@Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
         </div>
      </div>

      <div class="form-group">
         @Html.LabelFor(model => model.Cc, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
            @*<select multiple="multiple" id="Cc" class="form-control" placeholder="Enter Cc name" ></select>*@
            @*<select asp-for="Cc" class="form-control" multiple="multiple"></select>*@
            @*@Html.EditorFor(model => model.Cc, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.TextBox("Cc", "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Cc, "", new { @class = "text-danger" })
         </div>
      </div>

      <div class="form-group">
         @Html.LabelFor(model => model.Bcc, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
            @Html.TextBox("Bcc", "", new { @class = "form-control" })
            @*<select asp-for="Bcc" class="form-control" multiple="multiple"></select>*@
            @*@Html.EditorFor(model => model.Bcc, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Bcc, "", new { @class = "text-danger" })
         </div>
      </div>
      <div class="form-group">
         @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
         </div>
      </div>
      <div class="form-group">
         @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
            @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
         </div>
      </div>

      <div class="form-group">
         <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
         </div>
      </div>
   </div>
}

<div>
   @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
   @*<script>
    $(document).ready(function () {
       $('#To').select2({
          tags: true
       });
       $('#Cc').select2({
          tags: true
       });
       $('#Bcc').select2({
          tags: true
       });
    });
   </script>*@

   @Scripts.Render("~/bundles/jqueryval")
}

